@charset "UTF-8";

/* Bg */
.popupBg {
	width: 100%;
	height: 100%;
	background-color: rgba(50,50,50,.5);
	position: fixed; top: 0; left: 0; z-index: 99;
	display: none;
}

/* 메인 콘텐츠 */

.popupWrap {
	width: 600px;
    background-color: #fff;
    border: 2px solid #8AAAE5;
    border-radius: 10px;
    padding: 40px 0;
    position: absolute; top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999; 
   	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
	transition: top 0.2s ease-in-out, opacity 0.2s ease-in-out;
	display: none;
}
.buyNowPopupWrap {
	display: none;
}
.selComPopupWrap {
	display: none;
}
.priceproposePopupWrap {
	display: none;
}
.buyEndPopupWrap {
	display: none;
}
.proposeEndPopupWrap {
	display: none;
}
.myCollectionOnPopupWrap {
	display: none;
}
.myCollectionOffPopupWrap {
	display: none;
}
.commentReportPopupWrap {
	display: none;
}
.commentReportOKPopupWrap {
	display: none;
}
.commentDeletePopupWrap {
	display: none;
}
.commentDeleteOKPopupWrap {
	display: none;
}
.popupTitle {
	width:600px;
	height:40px;
	font-size:25px;
	line-height: 40px;
	font-weight: 700;
	margin: 0 auto 40px;
	text-align: center;
	cursor: default;
}

.popupBtnArea {
	width: 420px;
	margin:0 auto;
}
.popupOneBtnArea > .cancellBtn {
	display: block;
	float: none;
	margin: 0 auto;
}
.popupBtn {
	width: 200px;
	height: 50px;
	font-size: 20px;
	font-weight: 700;
	border-radius: 10px;
	transition: box-shadow 0.2s ease;
}
.popupBtn:hover {
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}
.popupBtnArea .okBtn {
	background-color: #8AAAE5;
	color: #fff;
	float: left;
}
.cancellBtn {
	border: 2px solid #8AAAE5;
	background-color: #fff;
	float: right;
}

/* 구매가 제시하기 */
.pricepropseInputArea {
	width: 300px;
	height: 50px;
	border-radius: 10px;
	margin: 0 auto;
	margin-bottom: 40px;
	background-color: #eeeeee;
}
.pricepropseInputArea label {
	display: block;
	float: left;
	width: 50px;
	height: 50px;
	cursor: pointer;
	font-size: 18px;
	line-height: 50px;
	text-align: center;
}
.pricepropseInput {
	width: 200px;
	height: 30px;
	background-color: #eeeeee;
	margin: 10px 25px;
	float: left;
	font-size: 18px;
	color: #222;
}
.pricepropseInput:focus {
	outline: none;
	cursor: text;
}